@import "../styles/colors.scss";
$margin-top: 80px;

.deck-title {
   font: {
      family: "Helvetica, Sans Serif";
      weight: 700;
      size: 50px;
   }
}

.deck-generate {
   display: inline-block;
   padding: 0.3em 1.2em;
   margin: 0 0.3em 0.3em 0;
   border-radius: 2em;
   outline: none;
   font: {
      family: "Roboto", sans-serif;
      weight: 300;
      size: 20px;
   }
   color: #ffffff;
   background-color: $primaryButton;
   text-align: center;
   transition: all 0.2s;
}

.deck-generate:hover {
   color: $primaryButton;
   background-color: #ffffff;
}

.deck-reset {
   @extend .deck-generate;
   flex: right;
   color: $primaryButton;
   background-color: #ffffff;
   border-color: $primaryButton;
}

.deck-area {
   margin-top: $margin-top;
}
